/Unity/Unity.sln
/Unity/Unity-csharp.sln
/Unity/Unity-csharp.suo
/Unity/Library
/Unity/obj
/Unity/ProjectSettings
/Unity/Assembly-CSharp.csproj
/Unity/Assembly-CSharp-vs.csproj
/TNet/Client/bin
/Unity/Temp
/Unity/Assembly-CSharp-firstpass-vs.csproj
/Unity/Assembly-CSharp-Editor.csproj
/Unity/Assembly-CSharp-Editor-vs.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/DotNet/TNet.v11.suo
/DotNet/Common/bin
/DotNet/Common/obj
/DotNet/Client/obj
/DotNet/Client/bin
obj
bin
